.asteriskField {
    color: red;
    font-weight: bolder;
}

.dbc {
	/*background-color: #FFFFFF;*/
	height: auto;
	width: 60%;
}

#div_button {
	display: flex;  
	justify-content: flex-start;  
	align-items: center;
}
