p { 
	font-size: large;
}

.scroll {
	overflow-y: scroll;
	height: 100vh;
}


/*.title {
	background-color: #FAE5D3;
	color: #000000;
	border-radius: 5px;
}

.test-title {
	background-color: #FAE5D3;
	color: #000000;
	border-radius: 5px;
}*/