p { 
	font-size: large;
}

.scroll {
	overflow: scroll;
	height:100%;  
}

.title {
	/*background-color: #FAE5D3;
	color: #000000;
	border-radius: 5px;*/
}

.test-title {
	/*background-color: #FAE5D3;
	color: #000000;
	border-radius: 5px;*/
}