{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extraheader %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock extraheader %}

{% block content %}
<form method='POST' id='testForm' novalidate>
	{% csrf_token %}
	<div class="row">
		<div class="col-12">
    		<!--{{ form.rdbms.label_tag }}-->
    		<label class="col-form-label">{{ form.rdbms.label }}</label>
    		<div class="row justify-content-center">
    			<div class="form-check form-check-inline">
	    			{% for value, text in form.rdbms.field.choices %}
	    			<div class="col-4">
	    				<div class="custom-control custom-checkbox image-checkbox">
	    					<input name="{{ form.rdbms.name }}" type="checkbox" class="custom-control-input" value="{{ value }}" id="id_rdbms_{{ forloop.counter0 }}" 
	    					{% if value in checked_rdbms %} checked="checked" {% endif %}>
	    					<label class="custom-control-label" for="id_rdbms_{{ forloop.counter0 }}">
	    						{% if text == 'MySQL' %}
				                	<img src="{% static 'img/mysql.png' %}" alt="{{ value }}" class="img-fluid dbc">
				                {% elif text == 'PostgreSQL' %}
				                	<img src="{% static 'img/postgresql.png' %}" alt="{{ value }}" class="img-fluid dbc">
				                {% else %}
				                	<img src="{% static 'img/mariadb.png' %}" alt="{{ value }}" class="img-fluid dbc">
	    						{% endif %}
				            </label>
							<!--<input name="{{ form.rdbms.name }}" type="checkbox" value="{{ value }}">
							<label>{{ text }}</label>-->
						</div>
					</div>
	    			{% endfor %}
	    		</div>
    		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			{{ form.hw_type|as_crispy_field }}
		</div>
		<div class="col-6">
			{{ form.db_config|as_crispy_field }}
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			{{ form.hw_spec|as_crispy_field }}
		</div>
		<div class="col-6">
			{{ form.dbconf_spec|as_crispy_field }}
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			{{ form.os_type|as_crispy_field }}
		</div>
		<div class="col-6 align-items-center" id="div_button">
			<button type="submit" class="btn btn-info">Ejecutar</button>
		</div>
	</div>
	{{ form.media }}
</form>
{% block extrafooter %}
<script type="text/javascript">
	function getHwType(value){
		console.log(value);
		$.ajax({
			url: '{% url "getHwType" %}',
			data: {
				'value': value
			},
			success: function(data){
				$('#id_hw_spec').val(data.spec);
			}
		});
	}

	function getDbConfig(value){
		console.log(value);
		$.ajax({
			url: '{% url "getDbSpec" %}',
			data: {
				'value': value
			},
			success: function(data){
				$('#id_dbconf_spec').val(data.spec);
			}
		});
	}
</script>
{% endblock extrafooter %}
{% endblock content %}