{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extraheader %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock extraheader %}

{% block content %}
<form method='POST' id='testForm' novalidate>
	{% csrf_token %}
	<div class="row">
		<div class="col-12">
    		{{ form.rdbms.label_tag }}
    		{% for value, text in form.rdbms.field.choices %}
				<div class="form-check form-check-inline">
					<input name="{{ form.rdbms.name }}" type="checkbox" value="{{ value }}">
					<label>{{ text }}</label>
				</div>
    		{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			{{ form.hw_type|as_crispy_field }}
		</div>
		<div class="col-6">
			{{ form.os_type|as_crispy_field }}
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			{{ form.hw_spec|as_crispy_field }}
		</div>
		<div class="col-6">

		</div>
	</div>
	<button type="submit">Ejecutar</button>
</form>
{% endblock content %}